<!DOCTYPE html>
<html ng-app="main">

<head>
  <title>LungCancerCT</title>
  <!-- OpenMRS favicon -->
  <link rel="shortcut icon" type="image/ico" href="../../images/openmrs-favicon.ico" />
  <link rel="icon" type="image/png" href="../../images/openmrs-favicon.png" />

  <!-- CSS style sheets -->
  <link rel="stylesheet" href="css/lungcancerct.css">

  <!-- AngularJS library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

  <!-- Your custom JavaScript file -->
  <script src="js/lungcancerct.js"></script>


</head>

<body>
  <header>
    <div class="logo">
      <a href="https://openmrs.org/">
        <img src="img/openmrs-with-title-small.png" alt="OpenMRS Logo" />
      </a>
    </div>
    <h1 class="app-title">Lung Cancer Predictor</h1>
  </header>

  <main ng-controller="HomeController">
    <div class="search-container">
      <input type="text" id="patientSearch" ng-model="searchQuery" placeholder="Enter patient information" />
      <button ng-click="searchPatient()">Search</button>
    </div>



    <!--prediction-->
    <div class="prediction-container">
      <input type="file" id="upload-input" accept="image/*" />
      <button ng-click="predict()">Predict</button>
    </div>

    <div class="prediction-result" ng-if="prediction">
      <p>Prediction: {{prediction}}</p>
    </div>


  </main>

  <!-- Your custom JavaScript code -->
  <script src="js/lungcancerct.js"></script>

</body>

</html>

