<!DOCTYPE html>
<html ng-app="main">

<head>
  <title>LungCancerCT</title>
  <!-- OpenMRS favicon -->
  <link rel="shortcut icon" type="image/ico" href="../static/img/openmrs-with-title-small.png" />
  <link rel="icon" type="image/png" href="../static/img/openmrs-with-title-small.png" />

  <!-- AngularJS library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

  <!-- CSS style sheets -->
  <link rel="stylesheet" href="../static/css/lungcancerct.css">

  <!-- Your custom JavaScript file -->
  <script type="module" src="../static/js/lungcancerct.js"></script>
</head>

<body>
  <header>
    <div class="logo">
      <a href="https://openmrs.org/">
        <img src="../static/img/openmrs-with-title-small.png" alt="OpenMRS Logo" />
      </a>
    </div>
    <h1 class="app-title">Lung Cancer Predictor</h1>
  </header>

  <main ng-controller="HomeController">
    <!--prediction-->
    <div class="prediction-container">
      <input type="file" id="upload-input" accept="image/*" />
      <div class="thumbnail-container" ng-show="thumbnailDataUrl">
        <img id="thumbnail" ng-src="{{ thumbnailDataUrl }}" alt="Uploaded Image" />
      </div>
      <button ng-click="predict()">Predict</button>
    </div>

    <div class="prediction-result" ng-if="prediction !== null">
      <h2>Prediction Result</h2>
      <p class="prediction-label">Prediction: <span ng-bind="prediction"></span></p>
      <p class="prediction-score">Score: <span ng-bind="score"></span></p>
    </div>
  </main>
</body>

</html>








